!!! HTML5
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %meta{:charset => "utf-8"}
    %meta{:name => "author", :content => "Chris Parsons"}
    %link{:rel => "stylesheet", :href => "/css/bootstrap.min.css"}
    %link{:rel => "stylesheet", :href => "/css/bootstrap-responsive.min.css"}
    %link{:rel => "stylesheet", :href => "/css/screen.css"}
    %link{:rel => "stylesheet", :href => "/css/chosen.min.css"}
    %script{:type => "text/javascript", :src => "/js/jquery-latest.js"}
    %script{:type => "text/javascript", :src => "/js/bootstrap.min.js"}
    %script{:type => "text/javascript", :src => "/js/chosen.jquery.min.js"}
    /[if lt IE 9]
      %script{:type => "text/javascript", :src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}

  %body
    :javascript
      $(document).ready(function() {
        $('.alert').alert();
        $('.chzn-select').chosen();
      });
    .container
      %h1.page-header Discover Thamesmead: Admin
      .row-fluid
        .span9
          - if flash.has?(:error) || flash.has?(:notice)
            .flash
              - if flash[:error]
                .alert.alert-error
                  %button.close{:'data-dismiss' => 'alert'} &times;
                  = flash[:error]
              - if flash[:notice]
                .alert.alert-info
                  %button.close{:'data-dismiss' => 'alert'} &times;
                  = flash[:notice]
          = yield
        .span3
          %ul.nav.nav-list
            %li
              %a{:href => '/'}
                %i.icon-star
                View main site
            %li.nav-header Help
            %li
              %a{:href =>'/admin/help', :target => 'help'}
                %i.icon-question-sign
                Admin manual
              %a{:href =>'/help', :target => 'help'}
                %i.icon-question-sign
                User manual
            %li.nav-header Places
            %li
              %a{:href =>'/admin/places/new'}
                %i.icon-plus
                Create place
            - @places.each do |place|
              %li
                %a{:href => '/admin/places/' + place.slug}
                  %i.icon-user
                  = place.name
            %li.nav-header Topics
            %li
              %a{:href =>'/admin/topics/new'}
                %i.icon-plus
                Create topic
            - @topics.each do |topic|
              %li
                %a{:href => '/admin/topics/'+topic.slug}
                  %i.icon-tag
                  = topic.name
            %li.nav-header Audiences
            %li
              %a{:href =>'/admin/audiences/new'}
                %i.icon-plus
                Create audience
            - @audiences.each do |audience|
              %li
                %a{:href => '/admin/audiences/'+audience.slug}
                  %i.icon-user
                  = audience.description
