.map-page
  .row-fluid
    .span8.column
      %ul.nav.nav-tabs
        %li
          %a{:href => '/'}
            %i.icon-home
        - @audience.topics.each do |slug|
          - topic = repository.topic_from_slug(slug)
          %li{:class => "#{'active' if @topic == topic}"}
            %a{:href => topic_path(@audience, topic)}= topic.name
      %script{:src => 'http://openlayers.org/api/OpenLayers.js'}
      #map
      :javascript
        $(document).ready(function() {
          $(".collapse").collapse();
          var map = new OpenLayers.Map('map');
          var layer = new OpenLayers.Layer.OSM("Simple OSM Map");
          map.addLayer(layer);
          map.setCenter(new OpenLayers.LonLat(0.1142, 51.5040).transform(
            new OpenLayers.Projection("EPSG:4326"),
              map.getProjectionObject()), 14);

          var places = new OpenLayers.Layer.GeoRSS('DT places', '#{topic_path(@audience, @topic) + '.atom'}');
          map.addLayer(places);
        });
    .span4.right-column
      .right-column-heading
        %h3== Discover Thamesmead
      .right-column-content

        %form
          .input-append
            %input.input-xlarge{:type => "text", :placeholder => "What are you looking for?"}
            %button.btn{:type => "button"}
              %i.icon-search

        .well
          feature
        %h3
          = @topic.name
        #places.accordion
          - if @topic.places.empty?
            %p Sorry: we don't have anything to show here yet.
          - else
            - @topic.places.each_with_index do |slug, index|
              - place = repository.place_from_slug(slug)
              .place.accordion-group
                %h5.accordion-heading.name
                  %a.accordion-toggle{:href => "#collapse#{index}", :'data-toggle' => 'collapse', :'data-parent' => '#places'}
                    %img.marker{:src => 'http://openlayers.org/api/img/marker.png'}
                    = place.name
                %div{:id => "collapse#{index}", :class => "accordion-body collapse #{index != 0 ? 'in':''}"}
                  .accordion-inner
                    .address
                      %strong= place.address
                    %p.information= place.information
                    .well.well-small.contact
                      .telephone= place.telephone
                      %a{:href => place.url}= place.url.length < 30 ? place.url : place.url[0, 30] + '...'
                      %br
                      %a{:href => "mailto:#{place.email}"}= place.email
                      .social
                        %a{:href => place.facebook} f
                        %a{:href => place.twitter} t
                        %a{:href => "mailto:#{place.email}"}
                          %i.icon-envelope
